# Unversioned files and folders.
# Read more at https://git-scm.com/docs/gitignore.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn's lockfile, Plug'n'Play, folder and settings.
# We're using pnpm, and it provides its lockfile and settings.
yarn.lock
.pnp.*
.yarn/
.yarnrc
.yarnrc.yaml

# npm's lockfiles.
# We're using pnpm and it provides its own lockfile.
package-lock.json
npm-shrinkwrap.json
